In [23]:
import json
import pandas as pd

file = '/content/bank_iq.json'
data = None
with open(file, 'r') as f:
  data = json.load(f) 

channel_id, stats = data.popitem() 
print(channel_id)  
channel_stats = stats['channel_statistics']
video_stats = stats['video_data']

UCGXsku75ELWndSG7kEihspg

In [24]:
#video stats
sorted_videos = sorted(video_stats.items(), key=lambda item: int(item[1]['viewCount']), reverse=True)
stats = []
for vid in sorted_videos:
  video_id = vid[0]
  title = vid[1]['title']
  description = vid[1]['description']
  views = vid[1]['viewCount']
  likes = vid[1]['likeCount']
  dislikes = vid[1]['dislikeCount']
  comments = vid[1]['commentCount']
  publish_time = vid[1]['publishedAt']
  duration = vid[1]['duration']
  stats.append([title, description, views, likes, dislikes, comments, publish_time, duration])

In [25]:
df = pd.DataFrame(stats, columns=['title', 'description', 'views', 'likes', 'dislikes','comment', 'publish_time', 'duration'])

In [26]:
df.head()

                                               title  ...  duration
0  Mini Mock Reasoning Set 320 for SBI PO / IBPS ...  ...  PT12M44S
1  50 Important Puzzles Set 1 for SBI PO / IBPS P...  ...  PT15M21S
2  One Word Substitutes Previous Year Questions S...  ...    PT6M3S
3  Machine Input Output Reasoning Tricks Set 26 f...  ...    PT9M8S
4  28 August 2019 Daily Financial News Analysis f...  ...  PT17M34S

[5 rows x 8 columns]

In [27]:
df.shape

(500, 8)

In [28]:
# Importing datetime library which provides great functions to handle date and time information
import datetime
i=0
for i in range(df.shape[0]):
    date_time_obj = datetime.datetime.strptime(df['publish_time'].at[i], '%Y-%m-%dT%H:%M:%SZ')
    df['publish_time'].at[i] = date_time_obj
    i = i+1

In [29]:
i=0
date=[]
time=[]
year=[]
month=[]
day=[]
for i in range(df.shape[0]):
    d = df['publish_time'][i].date();
    t = df['publish_time'][i].time();
    y = df['publish_time'][i].date().year;
    m = df['publish_time'][i].date().month;
    da = df['publish_time'][i].date().day;
    date.append(d) # Storing dates
    time.append(t) # Storing time
    year.append(y) # Storing years
    month.append(m) # Storing months
    day.append(da) # Storing days
    i = i+1
df.drop(['publish_time'], inplace=True,axis=1)
df['published_date']=date
df['published_time']=time
df['year']=year
df['month'] = month
df['day'] = day

In [30]:
df.head()

                                               title  ... day
0  Mini Mock Reasoning Set 320 for SBI PO / IBPS ...  ...   1
1  50 Important Puzzles Set 1 for SBI PO / IBPS P...  ...  28
2  One Word Substitutes Previous Year Questions S...  ...   3
3  Machine Input Output Reasoning Tricks Set 26 f...  ...   1
4  28 August 2019 Daily Financial News Analysis f...  ...  30

[5 rows x 12 columns]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           500 non-null    object
 1   description     500 non-null    object
 2   views           500 non-null    object
 3   likes           500 non-null    object
 4   dislikes        500 non-null    object
 5   comment         500 non-null    object
 6   duration        500 non-null    object
 7   published_date  500 non-null    object
 8   published_time  500 non-null    object
 9   year            500 non-null    int64
 10  month           500 non-null    int64
 11  day             500 non-null    int64
dtypes: int64(3), object(9)
memory usage: 47.0+ KB

In [32]:
df[['views', 'likes', 'dislikes', 'comment']] = df[['views', 'likes', 'dislikes', 'comment']].apply(pd.to_numeric)

In [33]:
df.describe()

              views       likes  ...       month         day
count    500.000000  500.000000  ...  500.000000  500.000000
mean    1926.224000  144.208000  ...    7.086000   15.640000
std     1487.597081   87.196164  ...    2.497013    8.938579
min      178.000000   14.000000  ...    1.000000    1.000000
25%     1175.750000   78.750000  ...    5.000000    8.000000
50%     1612.000000  119.000000  ...    7.000000   16.000000
75%     2285.750000  188.000000  ...    9.000000   23.000000
max    17484.000000  691.000000  ...   12.000000   31.000000

[8 rows x 7 columns]

Monthwise uploaded videos

In [52]:
df.groupby(df.month)['month'].count()

month
1      2
3     18
4     61
5     82
6     71
7     49
8     71
9     56
10    27
11    34
12    29
Name: month, dtype: int64

In [35]:
df.groupby(df['month']).sum()

        views  likes  dislikes  comment    year   day
month
1       27273    784        24       63    4040     2
3       42017   3680        34      531   36342   493
4      180255  14333        90     1677  123159   883
5      163498  13469       134     1232  165558  1180
6      133110  10529       107     1255  143349  1066
7       79900   5829        50      971   98932   756
8      133114   9576       102      999  143354  1204
9       86017   5656        60      524  113074   747
10      26160   1852        20      290   54514   406
11      57048   4299        24      405   68647   515
12      34720   2097        26      204   58551   568

top 10 least viewed videos

In [36]:
df.sort_values(by='views',ascending=True).head(10)

                                                 title  ... day
499  Today in History 13 September - What happened ...  ...  15
498  Today in History 9 September - What happened t...  ...   9
497  Today in History 7 September - What happened t...  ...   7
496  Today in History 4 October - What happened tod...  ...   5
495  Today in History 20 September - What happened ...  ...  20
494  Today in History 17 September - What happened ...  ...  17
493  Today in History 13 August - What happened tod...  ...  13
492  Today in History 14 August - What happened tod...  ...  14
491  Data Sufficiency Set 45 - Reasoning for SBI PO...  ...  19
490  Mini Mock Reasoning Set 263 for SBI PO / IBPS ...  ...  21

[10 rows x 12 columns]

top 8 least viewed videos are history lectures. Average video durations. publish timing is moning 0r noon.

In [37]:
#Oldest Videos
df.sort_values(by='published_date', ascending=True).head(10)

                                                 title  ... day
189  Learn English for Bank Exams Set 55, Prepositi...  ...  23
78   23 March 2019 - The Hindu Editorial News Paper...  ...  23
165  24 March 2019 - The Hindu Editorial News Paper...  ...  24
80   23 March 2019 Daily Financial News Analysis fo...  ...  24
105  25 March 2019 Daily Financial News Analysis fo...  ...  25
31   25 March 2019 - The Hindu Editorial News Paper...  ...  25
50   26 March 2019 - The Hindu Editorial News Paper...  ...  26
45   27 March 2019 - The Hindu Editorial News Paper...  ...  27
254  Learn English for Bank Exams Set 58, Sentence ...  ...  28
87   29 March 2019 Daily Financial News Analysis fo...  ...  29

[10 rows x 12 columns]

In [38]:
#Most Likes Vedeos
df.sort_values(by='likes',ascending=False).head(10)

                                                title  ... day
1   50 Important Puzzles Set 1 for SBI PO / IBPS P...  ...  28
9   1 April 2019 Daily Financial News Analysis for...  ...   1
5   Critical Reasoning Tricks Set 1, Become a pro ...  ...  11
0   Mini Mock Reasoning Set 320 for SBI PO / IBPS ...  ...   1
4   28 August 2019 Daily Financial News Analysis f...  ...  30
2   One Word Substitutes Previous Year Questions S...  ...   3
6   One Word Substitutes Previous Year Questions S...  ...   2
8   Idioms and Phrases with meaning Set 1, Easy ex...  ...  28
16  2 April 2019 Daily Financial News Analysis for...  ...   2
35  Complete English for Competitive Exam, Become ...  ...  10

[10 rows x 12 columns]

In [39]:
#most dislikes 
df.sort_values(by='dislikes',ascending=False).head(10)

                                                 title  ... day
0    Mini Mock Reasoning Set 320 for SBI PO / IBPS ...  ...   1
3    Machine Input Output Reasoning Tricks Set 26 f...  ...   1
1    50 Important Puzzles Set 1 for SBI PO / IBPS P...  ...  28
4    28 August 2019 Daily Financial News Analysis f...  ...  30
8    Idioms and Phrases with meaning Set 1, Easy ex...  ...  28
40   1 June 2019 Daily Financial News Analysis for ...  ...   1
2    One Word Substitutes Previous Year Questions S...  ...   3
5    Critical Reasoning Tricks Set 1, Become a pro ...  ...  11
151  Data Sufficiency Set 52 - Reasoning for SBI PO...  ...  31
35   Complete English for Competitive Exam, Become ...  ...  10

[10 rows x 12 columns]

dislikes here not impact much. (as less)

In [47]:
#most comment
df.sort_values(by='comment', ascending=False).head(10)

                                                title  ... day
64  5 July 2019 Daily Financial News Analysis for ...  ...   5
9   1 April 2019 Daily Financial News Analysis for...  ...   1
32  9 July 2019 Daily Financial News Analysis for ...  ...   9
1   50 Important Puzzles Set 1 for SBI PO / IBPS P...  ...  28
20  4 April 2019 Daily Financial News Analysis for...  ...   4
50  26 March 2019 - The Hindu Editorial News Paper...  ...  26
7   1 July 2019 - The Hindu Editorial News Paper A...  ...   1
35  Complete English for Competitive Exam, Become ...  ...  10
86  4 July 2019 Daily Financial News Analysis for ...  ...   4
5   Critical Reasoning Tricks Set 1, Become a pro ...  ...  11

[10 rows x 12 columns]

In [ ]:
Most commented videos are greater than 10 min videos